<div class="blog-comment {{ comment.comment_type }}" id="blog-comment-{{ comment.ID }}">
	<h2 class="comment-author">{{ comment.author.name }} {{ _e('says', 'starter-theme') }}</h2>
	<div class="comment-content">{{ comment.comment_content|wpautop }}</div>

	<section class="comment-box">

		<!-- comment form -->
		{% include "comment-form.twig" %}

		<!-- child comments -->
		{% if post.comments %}
			<h4> {{ _e('replies', 'starter-theme') }} </h4>
			<div class="comments">
				{% for cmt in comment.children %}
					{% include "comment.twig" with { comment:cmt } %}
				{% endfor %}
			</div>
		{% endif %}

	</section>
</div>
